<div class="my_container">
    <div class="left-panel">
        <img src="../../../../assets/Images/taskDailyHome.jpg">
    </div>
    <div class="right-panel">
        <h3>Aboubt Me</h3>
        <hr>
        <p>I'm Prajjval Dwivedi working in Bahwan CyberTek Pvt. Limited.</p>
        <b>Name:</b>
        <p>Prajjval Dwivedi</p>
        <b>Contact No:</b>
        <p>7509132214</p>
        <b>Address:</b>
        <p>Secretariate Colony, Theoraipakkam, Chennai</p>
        <b>Gender:</b>
        <p>Male</p>
    </div>
</div>