
.myImg{
    float: right;
}
.my-left-panel{
    float: left;
    margin: 10%;
}
.my-left-panel h2{
    background: #354cb5 !important;
    border-color: #354cb5 !important;
    font-size: 13px;
    font-weight: 700;
    border-radius: 0.3rem;
    color: #fff !important;
    line-height: 120%;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
}